; FTP info for uploading the build somewhere.
[mirrors]
names=swc~fsmods~scp
types=ftp::sftp::sftp
hostnames=swc.fs2downloads.com::browns.dreamhost.com::scp.indiegames.us
ports=21::22::22
usernames=
passwords=
builds_paths=swc.fs2downloads.com/builds::scp.fsmods.net/builds::public_html/builds
download_paths=http://swc.fs2downloads.com/builds/::http://scp.fsmods.net/builds/::http://scp.indiegames.us/builds/

; Forum user login information for posting a link to the build
[forum]
username=SirKnightly
password=
smfversion=2

[general]
forum_url=http://www.hard-light.net/forums/
vcs=svn
nightly_mirrors=swc
release_mirrors=swc~fsmods~scp
release_primary=swc

[WIN]
os_name=Windows
build_extension=(-DEBUG)?\.(exe|pdb|map)
build_drop=##EXPORTPATH##/projects/##PROJECT##/##CONFIG##
source_path=C:\Code\fs2_open
archive_path=G:\FSO\Builds
nightly_archive_ext=.7z
nightly_archiver_args=a
nightly_path_to_archiver="C:\Program Files\7-Zip\7z.exe"
release_archive_ext=.zip
release_archiver_args=a
release_path_to_archiver="C:\Program Files\7-Zip\7z.exe"
md5=md5sum
builds_forum=173.0
release_forum=50.0

; Set the compiler.  Accepted:  MSVC6, MSVC2008, MSVC201x - Be sure to set up compiler related options
compiler=MSVC2008

;****MSVC201x Defaults****
;build_program_path="C:\Windows\Microsoft.NET\Framework\4.0.30319\MSBuild.exe"
; Need same number of names and strings!!!
;config_groups=NO-SSE~SSE~Standard~AVX
;config_names=Release~Debug::Release SSE~Debug SSE::Release SSE2~Debug SSE2::Release AVX~Debug AVX
;config_strings=Release|Win32~Debug|Win32::Release SSE|Win32~Debug SSE|Win32::Release SSE2|Win32~Debug SSE2|Win32::Release AVX|Win32~Debug AVX|Win32
;output_filename=f.*?2_open_[3-4]_[0-9]_[0-9][0-9]?.*?\.(exe|pdb|map)

;****MSVC2008 Defaults****
build_program_path="C:\Program Files (x86)\Microsoft Visual Studio 9.0\VC\vcpackages\vcbuild"
project=MSVC_2008
; Need same number of names and strings!!!
config_groups=NO-SSE~SSE~Standard
config_names=Release~Debug::Release SSE~Debug SSE::Release SSE2~Debug SSE2
config_strings=Release|Win32~Debug|Win32::Release SSE|Win32~Debug SSE|Win32::Release SSE2|Win32~Debug SSE2|Win32
output_filename=f.*?2_open_[3-4]_[0-9]_[0-9][0-9]?.*?\.(exe|pdb|map)

;****MSVC6 Defaults****
;build_program_path="C:\Program Files (x86)\Microsoft Visual Studio 6\Common\MSDev98\Bin\MSDEV.COM"
;project=MSVC_6
; Need same number of names and strings!!!
;config_groups=Standard
;config_names=Release~Debug
;config_strings=Win32 Release~Win32 Debug
;output_filename=(wx)?f.*2_open_[3-4]_[0-9]_[0-9][0-9]?(-debug)?\.exe

[OSX]
os_name=OS X
build_program_path=xcodebuild
project=Xcode4
; Need same number of names and strings!!!
config_groups=Standard
config_names=Release~Debug
config_strings=Release~Debug
output_filename=FS2_Open.*( \(debug\))?\.app(\.dSYM)?
build_extension=( \(debug\))?\.app(\.dSYM)?
source_path=/Users/cliff.gordon/fs2open
build_drop=##EXPORTPATH##/projects/##PROJECT##/build/##CONFIG##
archive_path=/Users/cliff.gordon/builds
nightly_archive_ext=.tgz
nightly_archiver_args=-cvzf
nightly_path_to_archiver=tar
release_archive_ext=.dmg
release_archiver_args=create -srcfolder
release_path_to_archiver=hdiutil
md5=md5
builds_forum=173.0
release_forum=50.0

[LINUX]
os_name=Linux
build_program_path=make
project=
; Need same number of names and strings!!!
config_groups=Standard~Inferno
config_names=Release~Debug::Release_Inferno~Debug_Inferno
config_strings=--disable-inferno~--enable-debug --disable-inferno::--enable-inferno~--enable-debug --enable-inferno
output_filename=(fs|wxFRED)2_open_.*(_DEBUG)?
build_extension=(_DEBUG)?
source_path=/home/cliff/fs2_open
build_drop=##EXPORTPATH##/code
archive_path=/home/cliff/builds
nightly_archive_ext=.tar.bz2
nightly_archiver_args=-cvjf
nightly_path_to_archiver=tar
release_archive_ext=.tar.bz2
release_archiver_args=-cvjf
release_path_to_archiver=tar
md5=md5sum
builds_forum=173.0
release_forum=50.0

[FREEBSD]
os_name=FreeBSD
build_program_path=make
project=
; Need same number of names and strings!!!
config_groups=Standard~Inferno
config_names=Release~Debug::Release_Inferno~Debug_Inferno
config_strings=--disable-inferno~--enable-debug --disable-inferno::--enable-inferno~--enable-debug --enable-inferno
output_filename=(fs|wxFRED)2_open_.*(_DEBUG)?
build_extension=(_DEBUG)?
source_path=/home/cliff/fs2_open
build_drop=##EXPORTPATH##/code
archive_path=/home/cliff/builds
nightly_archive_ext=.tar.bz2
nightly_archiver_args=-cvjf
nightly_path_to_archiver=tar
release_archive_ext=.tar.bz2
release_archiver_args=-cvjf
release_path_to_archiver=tar
md5=md5
builds_forum=173.0
release_forum=50.0
